body{
    margin:0;
    padding:0;
}
.container{
    display:flex;
    justify-content:center;
    height:auto;
    width:80vw;
    gap:10px;
}
.left{
    background-color: lightblue;
    text-align: center;
}
.right{
    background-color: lightcoral;
    text-align: center;
}
.child{
    display: flex;
    justify-content: center;
    gap: 90px;
    
    
}