body{
    margin:0;
    padding:0;
}
.container{
    display: flex;
    height: 10vh;
    /* border: 2px solid black; */
    margin : 10px 100px;
     /* align-items: center; */
     gap: 10px;
}
.left{
    background-color: blue;
    flex-grow: 1;
    padding: 5px;
   
    
}
.right{
    background-color: red;
    flex-grow: 2;
    padding: 5px;
    
   
}